#content {
  background: var(--bkg-color);
  color: var(--text-color);
  padding: 1rem;
  margin: 0;
}

.group {
  padding-bottom: 4em;
}

.title {
  margin-top: 0;
}

.link {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.qrcode {
  margin: auto;
  margin-top: 2rem;
  display: block;
  width: 10rem;
  opacity: 0.7;
}

.social {
  display: flex;
}

.social button {
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.social img {
  width: 3rem;
  opacity: 0.7;
  filter: var(--svg-filter);
}

.social img:hover {
  opacity: 1;
}

input {
  border-radius: 0.25rem;
  background-color: var(--bkg-color);
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 0.9rem;
  flex-grow: 1;
}

.error {
  order: 3;
  color: var(--error-color);
  text-align: center;
  width: 90%;
}

iframe {
  border: var(--app-standard-border);
}
