button.main {
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #444;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  border: none;
  border-top: solid 1px #444;
  border-radius: 0;
  padding: 1rem;
  background-color: var(--bkg-color);
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 27rem;
}

h2 {
  margin: 0px 0.5rem;
}

.category {
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: stretch;
  align-content: stretch;
}

.category.row2 {
  height: 15rem;
}

.category.row22 {
  height: 18rem;
}

.theme {
  align-content: flex-end;
  position: relative;
  width: 9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0;
}

.theme > img {
  width: 100%;
}

.theme.unselected > img {
  filter: grayscale(1);
}
.theme.selected > img {
  background-color: lightgray;
  border-radius: 0.5rem;
}

button.select {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button.select > img {
  height: 3rem;
  margin-bottom: 1rem;
}

button > span {
  display: inline-block;
  width: 9rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
