<div id="draggable">
  <div id="header">
    <span i18n="${this.state.infoWindow.title}"></span>
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </div>
  <div id="content">
    <iframe title="iframe content" src="${this.state.infoWindow.url}"></iframe>
  </div>
</div>
