<link rel="stylesheet" href="lib/vanilla-picker/vanilla-picker.csp.css" />
<link rel="stylesheet" href="styles/girafecolorpicker.css" />

<div id="searchbox">
  <input
    id="search"
    class="gg-input"
    length="20"
    maxlength="1000"
    autocomplete="off"
    autocorrect="off"
    i18n="Search"
    placeholder="Search..."
    oninput="${(e:Event) => this.doSearch(e)}"
    onfocusin="${() => this.onFocusIn()}"
    onfocusout="${() => this.onFocusOut()}"
    onkeydown="${(e:KeyboardEvent) => this.onKeyDown(e)}" />

  <img class="${this.allResults.length > 0 ? 'hidden' : 'search-icon'}" alt="search-icon" src="${this.searchIcon}" />
  <button class="${this.allResults.length > 0 ? 'close-button' : 'hidden'}" onclick="${() => this.clearSearch(true)}">
    <img class="close-icon" alt="close-icon" src="icons/close.svg" />
  </button>
  <button id="colorPickerBtn" class="${this.paintSearchResults ? 'select-color-button' : 'hidden'}">
    <img class="select-color-icon" alt="select-color-icon" src="${this.paintbrushIcon}" />
  </button>

  <div
    id="results"
    class="${Object.keys(this.groupedResults).length === 0 || this.forceHide ? 'hidden' : ''}"
    onmousemove="${() => this.onMouseMove()}">
    ${Object.keys(this.groupedResults).map(group => uHtml`
    <div class="title">
      <img alt="result icon" src="${this.getIcon(group)}" />
      <span i18n="${group}"></span>
    </div>
    ${this.groupedResults[group].map(result => uHtml`
    <button
      class="${result.selected ? 'result selected': 'result'}"
      onmousedown="${() => this.onMouseDown()}"
      onclick="${() => this.onSelect(result)}"
      onmouseover="${() => this.onMouseOver(result)}"
      onmouseleave="${() => this.onMouseLeave()}">
      ${result.properties?.label}
    </button>
    `)} `)}
  </div>
</div>
