<div id="draggable" class="${this.visible ? 'ctx' : 'hidden'}">
  <button tabindex="-1" class="resizer tl corner"></button>
  <button tabindex="-1" class="resizer t top-bottom"></button>
  <button tabindex="-1" class="resizer tr corner"></button>
  <button tabindex="-1" class="resizer r left-right"></button>
  <button tabindex="-1" class="resizer br corner"></button>
  <button tabindex="-1" class="resizer b top-bottom"></button>
  <button tabindex="-1" class="resizer bl corner"></button>
  <button tabindex="-1" class="resizer l left-right"></button>
  <div id="header">
    <p i18n="${this.getWindowFeature()?.id}"></p>
    <button id="close" onclick="${() => this.closeWindow()}">
      <img alt="close-icon" src="icons/close.svg" />
    </button>
  </div>
  <div id="content">
    <div>
      <table>
        <tr class="hidden">
          <th i18n="Label">Label</th>
          <th i18n="Value">Value</th>
        </tr>
        ${this.displayedProperties.map((keyValue) => uHtml`
        <tr>
          <td class="label" i18n="${keyValue[0]}"></td>
          <td class="value">${this.htmlUnsafe(keyValue[1] as string)}</td>
        </tr>
        `)}
      </table>
    </div>
  </div>
  <div id="footer">
    <button
      id="previous"
      class="${this.maxIndex > 0 ? '' : 'hidden'}"
      onclick="${() => this.onFocusWindowFeature(this.focusedIndex - 1)}">
      <img alt="previous-icon" src="icons/previous.svg" />
    </button>
    <div id="counter" class="${this.maxIndex > 0 ? '' : 'hidden'}">
      <span class="${this.maxIndex > 0 ? '' : 'hidden'}">
        <span>${this.focusedIndex + 1}</span>
        <span>/</span>
        <span>${this.maxIndex + 1}</span>
      </span>
    </div>
    <div class="tools">
      <button onclick="${() => this.recenter()}">
        <img alt="recenter-icon" src="${this.iconCenter}" />
      </button>
      <button onclick="${() => this.openDropdown()}"><img alt="csv-icon" src="icons/csv.svg" /></button>
      <div ?hidden="${!this.showDropdown}">
        <div id="layers-dropdown">
          ${this.getLayersList().map( (layer) => uHtml`
          <option
            class="layers-dropdown-item"
            value="${layer.id}"
            onclick="${() => this.generateCSV(layer.id)}"
            onkeydown="${() => this.generateCSV(layer.id)}"
            tabindex="0"
            i18n="${layer.label}"></option>
          `)}
        </div>
      </div>
    </div>
    <button
      id="next"
      class="${this.maxIndex > 0 ? '' : 'hidden'}"
      onclick="${() => this.onFocusWindowFeature(this.focusedIndex + 1)}">
      <img alt="next-icon" src="icons/next.svg" />
    </button>
  </div>
</div>
