.container {
  display: flex;
  flex-direction: row;
  border-right: var(--app-standard-border);
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-avatar {
  --svg-filter: none;
}
